body{
    font-family: "Open Sans", sans-serif;
    background: grey;
}
.list{
    list-style: none;
}

.header-list {
font-family: inherit;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.1em;
color: orangered
}

.list:hover,
.list:focus
{
    color: blanchedalmond;
}

.adress{
    font-family: "Roboto", sans-serif;
    color: blue;
}
