body{
    font-family: "Open Sans", sans-serif;
    font-family: "Raleway", sans-serif;
}
h1{
    font-family: "Raleway", sans-serif;
}
h2{
    font-family: "Raleway", sans-serif;
}
h3{
    font-family: "Raleway", sans-serif;
}
p{
    font-family: "Open Sans", sans-serif; 
}